*~
datasets
__pycache__
old
.idea
.crop_ds_2.sh.swp
.test.py.swp
*.pth
*.pt
doodling
results/test/*/*.jpg
results/*.xz
lib/*/__pycache__
*.xcf
*.tif
*.jpg
*.mat
*.JPG
*.pth
tmp
ntire
*.png
onetimescripts
graphs
datasets
doodling.py
*.zip
*.xmp
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.lof
*.log
*.lot
*.out
*.xml
*.gz
*.tcp
*.toc
*.tps
*.blx
tags.*
dbg/
